@font-face {
    font-family: 'Univers LT Std';
    src: url('fonts/UniversLTStd.otf');
}

@font-face {
    font-family: 'Univers LT W02 55 Roman';
    src: url('fonts/Univers-LT-Std-55-Roman.ttf');
}

@font-face {
    font-family: 'Univers LT W01 65 Bold';
    src: url('fonts/UniversLTStd-Bold.otf');
}

@font-face {
    font-family: 'Univers LT W01 45 Light';
    src: url('fonts/UniversLTStd-Light.otf');
}






